Описание: 
Библиотека для построения и отправки http запросов

Функционал:
- построение полноценного http запроса динамически в райтайме
    - Методы: GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    - URL: базовый URL, query-параметры ( path-параметры задаются через переменные)
    - Заголовки: Набор стандартных заранее заготовленных заговолков с возможностью добавления новых и переопределения имеющихся.
    - Тело запроса: JSON, XML, raw text, binary
    - Аутентификация: Basic Auth, Bearer Token, API Key.
    - Cookies: автоматическое управление по умолчанию, с возможностью переключения на ручное управление.
    - Таймауты: настройка таймаутов подключения и чтения по умолчанию, с возможностью переопределения.

- отправки запроса и возврат результата
    - Формат результата: структура с полями (статус, заголовки, тело, время выполнения, размер)
    - Обработка ответов: отсутствует на MVP стадии
    - Сохранение ответов: история запросов
    - Визуализация: форматированный вывод в консоль с цветовой индикацией с помощью функции библиотеки
    
- система переменных и окружений как в postman, для замены и подстановки различных переменных в рантайме
    - Синтаксис подстановки: {{variable}}
    - Области видимости: глобальная, окружение. С приоритетом окружение > глобальная
    - Приоритет переменных: при конфликтах имен - перезаписать новым значением.
    - Типы переменных: строки
    - Динамические переменные: нет
    - Переменные из ответов: нет
    - Валидация: проверка наличия переменных перед выполнением запроса
    - Окружение это json файл в системной поддиректории c уникальным именем
    - Имена переменных это ключи в json файле окружения, а значения переменных - значения в json файле

- создание коллекции запросов
    - Структура коллекции: json файл с уникальным именем
    - Зависимости между запросами: порядок выполнения
    - Пред/пост-скрипты: скрипты отсутствуют на стадии MVP
    - Тесты и ассерты: отсутствуют на стадии MVP
    - Переменные коллекции: коллекции используют окружения для работы с переменными

- запуск всех запросов из коллекции
    - Режим выполнения: последовательно, выборочно
    - Обработка ошибок: продолжение с логированием
    - Логирование: уровень детализации - отображение полного ответа, формат - текст
    - Отчеты: сводка выполнения, статистика в виде структур с возможностью понятного вывода в stdout с помощью функции библиотеки
    - Переменные окружения: выбор одного активного окружения

- сохранение коллекций в файлы json
- загрузка коллекций из файлов json
- хранение всех коллекций (и иных файлов) в заранее заданой и созданой директории
    - Расположение: ~/.getman/ по умолчанию, с возможностью задать иной путь
    - Структура директорий:
        ~/.getman/    
          ├── collections/     # коллекции запросов    
          ├── environments/    # файлы окружений      
          └── config.json      # конфигурация
        Для каждого запуска создавать поддиректорию во временной директории (/tmp - для линукса)
        /tmp/.getman/
          ├── logs/                 # внутри - файл с логами для последнего запуска
          |    └── <timestamp>.json # логи последнего запуска либо выборочного запроса, либо коллекции. формат timestamp - day_month_year_hour_minutes_seconds (пример: 01_12_25_22_55_39)
          └── history/              # внутри - файл с историей последнего запуска запроса или коллекции. в файл записывать полную структуру запроса и полную структуру ответа
          |    └── <timestamp>.json # история последнего запуска либо выборочного запроса, либо коллекции. формат timestamp - day_month_year_hour_minutes_seconds (пример: 01_12_25_22_55_39)
    - Формат файлов: пример JSON схемы для коллекций хранится в "./postman_example.json" 
    - Версионирование: отсутствует

- Интерфейс использования: 
    - Библиотека: Go пакет для программного использования
    - Конфигурационные файлы: YAML для настройки поведения, хранится в директории ~/.getman/

- Дополнительные возможности
    - Импорт/экспорт: поддержка формата Postman Collection v2.1

Стек:
golang 1.25
любые third-party библиотеки

